/***** BASE STYLES *****/

Body{
  font-family: 'montserrat','galada', sans-serif;
  color: #2b2b2b;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0px auto;
  overflow: auto;
}
.third-width {
  width: 600px;
  float: left;
}
.half-width h1 { 
  float: left;
	width: 600px;
}

/****FONT CODE****/
h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
  padding: 0 30px;
}

/****** HEADERS ******/

/**** Title Rogue Pickings ****/

header h1 {
  color: #2b2b2b;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600px;
  margin: 0px;
  padding: 38px 0;
  text-transform: uppercase;
}
header h1 span{
  color: #77a466;
}
header {
	height: 150px;
	border-bottom: 4px solid #77a466;
	margin: 0 auto;
}

/****** MAIN MENU ******/

Header nav {
  float: right; 
  padding: 50px 0px;
}

header nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	padding: 0px;
	display: inline-block;
}

/****Main Manu color****/

header nav ul li a{
  color: #89b07a;
  font-size: 16px;
  font-weight: bold; 
  padding-left: 20px; 
  text-transform: uppercase;
  text-decoration: none;
}

/***** GREEN BEANS IMAGE *****/

#green-beans{
	border-bottom: 4px solid #77a466;
}

/****Welcome Title****/

.main-title {
	height: auto;
	float: left;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

/****** ABOUT ******/

#about h2{
  color: #77a466;
  font-size: 20px;
  text-transform: uppercase;
}

#about p{
  font-size: 16px;
}
/****SECTIONS****/

.section-one,
.section-two,
.section-three {
	width: 399px;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
}
.section-one h3 {
	padding: 10px 0;
}
.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}
.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}
.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}
.address {
	font-size: 16px;
	line-height: 24px;
}
/****** FOOTER ******/

Footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	font-style: normal;
	text-transform: lowercase;
	color: #77a466;
	font-size: 15px;
}
